{% extends 'base.html' %}

{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
<!-- <link href="https://fonts.googleapis.com/css?family=Bad+Script&display=swap" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
<h1 class="text-center">NEWS SOURCES</h1>
{% for source in sources %}
    <div class="col-md-3">
      <!-- <div class="card-deck"> -->
        <div class="panel panel-default">
          <!-- <img src="{{url_for('static',filename='images/news.png')}}" class="card-img-top" alt="..."> -->
          <h5 class="panel-heading" style="font-size: 20px;"><strong>Source: {{ source.name }}</strong></h5>
          <div class="panel-body">
            <p  style="font-size: 15px;color: black;">Source description: {{ source.description | truncate(40) }}</p>
            <p  style="font-size: 15px;color: black;">News Category: {{ source.category }} </p>
            <a href="{{ source.url }}" class="btn btn-primary">Visit site</a>
            <a href="articles/{{ source.id }}" class="btn btn-danger">View Articles</a>
          </div>
      </div>
    </div>

{% endfor %}
</div>
</div>
{% endblock %}
